# Python
*.pyo
*.pyc
python-simulation/plots
!python-simulation/plots/nofpdit.png

# LaTeX
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

# custom
*.pdf
*.fls

#eclipse
.project
.texlipse
.pydevproject
python-simulation/redundant_temp.dat
